body {
	display: flex;
	flex-flow: column wrap;
	font: 1rem/1.77 Helvetica Neue,Helvetica,Arial,sans-serif;
}

.site-navigation {

}

h1 {
	font-size: 28px;
	font-weight: 800;
	line-height: 1.1;
	margin-bottom: 0;
	margin-right: 20px;
	color: red;
}

#TeamRWBY {
	border-radius: 25px;
	max-width: 500px;
}

#header {
	margin: 0;
	max-width: 900px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.body-paragraphs {
	background-color: white;
	margin: 2% auto;
	max-width: 900px;
	width: 100%;
}

 .paragraph {
 	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
 }

 @media (min-width: 700px){
	 	.Intro {
	 	width: 35%;
	 	padding: 2%;
	 	float: right;
	 	background-color: yellow;
	 }

	 .paragraph {
	 	clear: both;
	 }
}

#footer {
	background-color: #333;
	color: lightgrey;
}

#back-to-top {
	position: fixed;
	bottom: 10px;
	right: 10px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;

}

li {
	float: left;
}

.menu-item {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

